openapi: 3.0.3
info:
  title: 'Google Drive Clone API'
  description: "Our API provides comprehensive functionality for managing files and folders in a cloud storage environment, akin to Google Drive. Built with Laravel, it offers robust endpoints for seamless integration with your front-end applications. With secure authentication mechanisms and efficient data handling, our API enables users to upload, download, organize, and share files effortlessly. Whether you're building a personal file repository or a collaborative workspace, our API empowers you to create a powerful cloud storage solution tailored to your needs."
  version: 1.0.0
servers:
  -
    url: 'https://google-drive-clone-api.wip'
paths:
  /api/v1/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: 'Registers a user based on the provided registration request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 37
                    name: 'Charles Cremin MD'
                    email: eschaefer@example.com
                    created_at:
                      datetime: '2024-04-06T01:04:34.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Sat, Apr 6, 2024 1:04 AM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 37
                      name:
                        type: string
                        example: 'Charles Cremin MD'
                      email:
                        type: string
                        example: eschaefer@example.com
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-06T01:04:34.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Sat, Apr 6, 2024 1:04 AM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'User name. Must not be greater than 255 characters.'
                  example: 'John Doe'
                email:
                  type: string
                  description: 'User email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
                password_confirmation:
                  type: string
                  description: 'User password confirmation.'
                  example: password
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/login:
    post:
      summary: 'Login a user'
      operationId: loginAUser
      description: 'Logins a user based on the provided login request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 38
                    name: 'Eileen Orn'
                    email: pouros.ayden@example.com
                    created_at:
                      datetime: '2024-04-06T01:04:35.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Sat, Apr 6, 2024 1:04 AM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 38
                      name:
                        type: string
                        example: 'Eileen Orn'
                      email:
                        type: string
                        example: pouros.ayden@example.com
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-06T01:04:35.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Sat, Apr 6, 2024 1:04 AM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
              required:
                - email
                - password
      security: []
  /api/v1/password/email:
    post:
      summary: 'Password reset link.'
      operationId: passwordResetLink
      description: 'Send a reset link to the given user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'We have e-mailed your password reset link.'
                properties:
                  message:
                    type: string
                    example: 'We have e-mailed your password reset link.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
              required:
                - email
  /api/v1/password/reset:
    post:
      summary: 'Reset password.'
      operationId: resetPassword
      description: "Reset the given user's password."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has been reset.'
                properties:
                  message:
                    type: string
                    example: 'Your password has been reset.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The reset password token.'
                  example: cupiditate
                email:
                  type: string
                  description: 'The email address. Must be a valid email address.'
                  example: kbreitenberg@example.org
                password:
                  type: string
                  description: 'The new password.'
                  example: ',^F.y.Sl\B27|Zg#@4%6'
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: ut
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  '/api/v1/email/verify/{id}/{hash}':
    get:
      summary: 'Verify email'
      operationId: verifyEmail
      description: 'Verify the email of the user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email successfully verified'
                properties:
                  message:
                    type: string
                    example: 'Email successfully verified'
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: '1'
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: 'The hash of the user.'
        example: 56Z83cdafEvb1P4VheDga6k
        required: true
        schema:
          type: string
  /api/v1/email/resend:
    post:
      summary: 'Resend email'
      operationId: resendEmail
      description: 'Resend the email verification notification.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verification link sent on your email id'
                properties:
                  message:
                    type: string
                    example: 'Email verification link sent on your email id'
      tags:
        - Authentication
      security: []
  /api/v1/logout:
    post:
      summary: 'Signs out a user'
      operationId: signsOutAUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Authentication
  /api/v1/user:
    get:
      summary: 'Current user'
      operationId: currentUser
      description: 'Get the currently authenticated user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 45
                    name: 'Miss Drew Shields'
                    email: pwhite@example.net
                    created_at:
                      datetime: '2024-04-06T01:04:38.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Sat, Apr 6, 2024 1:04 AM'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 45
                      name:
                        type: string
                        example: 'Miss Drew Shields'
                      email:
                        type: string
                        example: pwhite@example.net
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-06T01:04:38.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Sat, Apr 6, 2024 1:04 AM'
      tags:
        - Authentication
  /api/v1/folders:
    post:
      summary: 'Create folder'
      operationId: createFolder
      description: 'Store a newly created folder.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 11
                    name: 'Prof. Kaya Ankunding V'
                    path: 'https://lebsack.com/omnis-vel-ea-esse-vero-quia-veritatis.html'
                    storage_path: 'http://hodkiewicz.org/ut-eos-deleniti-et-rerum-voluptatum-nam'
                    parent_id: null
                    lft: 1
                    rgt: 2
                    depth: 0
                    is_folder: false
                    mime: image/vnd.xiff
                    size: '488.13 KB'
                    owner: 'Jannie Veum'
                    uploaded_on_cloud: false
                    created_by:
                      id: 39
                      name: 'Jannie Veum'
                      email: furman.muller@example.com
                      created_at:
                        datetime: '2024-04-06T01:04:35.000000Z'
                        human_diff: '1 second ago'
                        human: 'Sat, Apr 6, 2024 1:04 AM'
                    created_at:
                      datetime: '2024-04-06T01:04:36.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Sat, Apr 6, 2024 1:04 AM'
                    updated_at:
                      datetime: '2024-04-06T01:04:36.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Sat, Apr 6, 2024 1:04 AM'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      name:
                        type: string
                        example: 'Prof. Kaya Ankunding V'
                      path:
                        type: string
                        example: 'https://lebsack.com/omnis-vel-ea-esse-vero-quia-veritatis.html'
                      storage_path:
                        type: string
                        example: 'http://hodkiewicz.org/ut-eos-deleniti-et-rerum-voluptatum-nam'
                      parent_id:
                        type: string
                        example: null
                      lft:
                        type: integer
                        example: 1
                      rgt:
                        type: integer
                        example: 2
                      depth:
                        type: integer
                        example: 0
                      is_folder:
                        type: boolean
                        example: false
                      mime:
                        type: string
                        example: image/vnd.xiff
                      size:
                        type: string
                        example: '488.13 KB'
                      owner:
                        type: string
                        example: 'Jannie Veum'
                      uploaded_on_cloud:
                        type: boolean
                        example: false
                      created_by:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 39
                          name:
                            type: string
                            example: 'Jannie Veum'
                          email:
                            type: string
                            example: furman.muller@example.com
                          created_at:
                            type: object
                            properties:
                              datetime:
                                type: string
                                example: '2024-04-06T01:04:35.000000Z'
                              human_diff:
                                type: string
                                example: '1 second ago'
                              human:
                                type: string
                                example: 'Sat, Apr 6, 2024 1:04 AM'
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-06T01:04:36.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Sat, Apr 6, 2024 1:04 AM'
                      updated_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-06T01:04:36.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Sat, Apr 6, 2024 1:04 AM'
      tags:
        - 'Files Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: 'The ID of the parent folder.'
                  example: '1'
                name:
                  type: string
                  description: 'The name of the folder. Must not be greater than 1024 characters.'
                  example: yhqvvbih
              required:
                - parent_id
                - name
  '/api/v1/files/{folder}':
    get:
      summary: 'User files'
      operationId: userFiles
      description: 'Get the current user files.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 12
                      name: 'Prof. Sebastian Pagac Sr.'
                      path: 'http://www.langosh.com/eos-labore-soluta-eveniet-a-est-ea-perspiciatis'
                      storage_path: 'http://bernier.com/dolorem-dignissimos-placeat-aut-enim-officia-architecto'
                      parent_id: null
                      lft: 1
                      rgt: 2
                      depth: 0
                      is_folder: false
                      mime: audio/x-aiff
                      size: '610.19 KB'
                      owner: 'Dr. Beaulah Macejkovic III'
                      uploaded_on_cloud: false
                      created_by:
                        id: 41
                        name: 'Dr. Beaulah Macejkovic III'
                        email: monserrate.will@example.net
                        created_at:
                          datetime: '2024-04-06T01:04:36.000000Z'
                          human_diff: '1 second ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                      created_at:
                        datetime: '2024-04-06T01:04:36.000000Z'
                        human_diff: '1 second ago'
                        human: 'Sat, Apr 6, 2024 1:04 AM'
                      updated_at:
                        datetime: '2024-04-06T01:04:36.000000Z'
                        human_diff: '1 second ago'
                        human: 'Sat, Apr 6, 2024 1:04 AM'
                    -
                      id: 13
                      name: 'Cassidy Bartell'
                      path: 'http://kshlerin.com/consequuntur-laboriosam-vel-doloremque-consectetur'
                      storage_path: 'http://boehm.info/ut-quis-aut-et-necessitatibus-similique.html'
                      parent_id: null
                      lft: 3
                      rgt: 4
                      depth: 0
                      is_folder: false
                      mime: text/vnd.curl.scurl
                      size: '825.85 KB'
                      owner: 'Evert Walsh'
                      uploaded_on_cloud: false
                      created_by:
                        id: 43
                        name: 'Evert Walsh'
                        email: glen90@example.com
                        created_at:
                          datetime: '2024-04-06T01:04:37.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                      created_at:
                        datetime: '2024-04-06T01:04:37.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Sat, Apr 6, 2024 1:04 AM'
                      updated_at:
                        datetime: '2024-04-06T01:04:37.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Sat, Apr 6, 2024 1:04 AM'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 12
                        name: 'Prof. Sebastian Pagac Sr.'
                        path: 'http://www.langosh.com/eos-labore-soluta-eveniet-a-est-ea-perspiciatis'
                        storage_path: 'http://bernier.com/dolorem-dignissimos-placeat-aut-enim-officia-architecto'
                        parent_id: null
                        lft: 1
                        rgt: 2
                        depth: 0
                        is_folder: false
                        mime: audio/x-aiff
                        size: '610.19 KB'
                        owner: 'Dr. Beaulah Macejkovic III'
                        uploaded_on_cloud: false
                        created_by:
                          id: 41
                          name: 'Dr. Beaulah Macejkovic III'
                          email: monserrate.will@example.net
                          created_at:
                            datetime: '2024-04-06T01:04:36.000000Z'
                            human_diff: '1 second ago'
                            human: 'Sat, Apr 6, 2024 1:04 AM'
                        created_at:
                          datetime: '2024-04-06T01:04:36.000000Z'
                          human_diff: '1 second ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                        updated_at:
                          datetime: '2024-04-06T01:04:36.000000Z'
                          human_diff: '1 second ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                      -
                        id: 13
                        name: 'Cassidy Bartell'
                        path: 'http://kshlerin.com/consequuntur-laboriosam-vel-doloremque-consectetur'
                        storage_path: 'http://boehm.info/ut-quis-aut-et-necessitatibus-similique.html'
                        parent_id: null
                        lft: 3
                        rgt: 4
                        depth: 0
                        is_folder: false
                        mime: text/vnd.curl.scurl
                        size: '825.85 KB'
                        owner: 'Evert Walsh'
                        uploaded_on_cloud: false
                        created_by:
                          id: 43
                          name: 'Evert Walsh'
                          email: glen90@example.com
                          created_at:
                            datetime: '2024-04-06T01:04:37.000000Z'
                            human_diff: '0 seconds ago'
                            human: 'Sat, Apr 6, 2024 1:04 AM'
                        created_at:
                          datetime: '2024-04-06T01:04:37.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                        updated_at:
                          datetime: '2024-04-06T01:04:37.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Sat, Apr 6, 2024 1:04 AM'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 12
                        name:
                          type: string
                          example: 'Prof. Sebastian Pagac Sr.'
                        path:
                          type: string
                          example: 'http://www.langosh.com/eos-labore-soluta-eveniet-a-est-ea-perspiciatis'
                        storage_path:
                          type: string
                          example: 'http://bernier.com/dolorem-dignissimos-placeat-aut-enim-officia-architecto'
                        parent_id:
                          type: string
                          example: null
                        lft:
                          type: integer
                          example: 1
                        rgt:
                          type: integer
                          example: 2
                        depth:
                          type: integer
                          example: 0
                        is_folder:
                          type: boolean
                          example: false
                        mime:
                          type: string
                          example: audio/x-aiff
                        size:
                          type: string
                          example: '610.19 KB'
                        owner:
                          type: string
                          example: 'Dr. Beaulah Macejkovic III'
                        uploaded_on_cloud:
                          type: boolean
                          example: false
                        created_by:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 41
                            name:
                              type: string
                              example: 'Dr. Beaulah Macejkovic III'
                            email:
                              type: string
                              example: monserrate.will@example.net
                            created_at:
                              type: object
                              properties:
                                datetime:
                                  type: string
                                  example: '2024-04-06T01:04:36.000000Z'
                                human_diff:
                                  type: string
                                  example: '1 second ago'
                                human:
                                  type: string
                                  example: 'Sat, Apr 6, 2024 1:04 AM'
                        created_at:
                          type: object
                          properties:
                            datetime:
                              type: string
                              example: '2024-04-06T01:04:36.000000Z'
                            human_diff:
                              type: string
                              example: '1 second ago'
                            human:
                              type: string
                              example: 'Sat, Apr 6, 2024 1:04 AM'
                        updated_at:
                          type: object
                          properties:
                            datetime:
                              type: string
                              example: '2024-04-06T01:04:36.000000Z'
                            human_diff:
                              type: string
                              example: '1 second ago'
                            human:
                              type: string
                              example: 'Sat, Apr 6, 2024 1:04 AM'
      tags:
        - 'Files Management'
    parameters:
      -
        in: path
        name: folder
        description: 'Optional parameter. The path of the folder.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: documents
      -
        in: path
        name: perPage
        description: 'Optional parameter. The number of files per page.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 15
      -
        in: path
        name: page
        description: 'Optional parameter. The page number.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/v1/files:
    post:
      summary: 'Upload files'
      operationId: uploadFiles
      description: 'Store the uploaded files and folders.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "'Folder/File(s) uploaded successfully'"
                properties:
                  message:
                    type: string
                    example: "'Folder/File(s) uploaded successfully'"
      tags:
        - 'Files Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: 'The ID of the parent folder.'
                  example: '1'
                folder_name:
                  type: string
                  description: ''
                  example: quas
                files:
                  type: array
                  description: 'The file to upload. Must be a file.'
                  items:
                    type: string
                    format: binary
              required:
                - parent_id
                - files
tags:
  -
    name: Authentication
    description: "\nAPIs for authentication"
  -
    name: 'Files Management'
    description: "\nAPIs for managing users files"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
