openapi: 3.0.3
info:
  title: 'Google Drive Clone API'
  description: "Our API provides comprehensive functionality for managing files and folders in a cloud storage environment, akin to Google Drive. Built with Laravel, it offers robust endpoints for seamless integration with your front-end applications. With secure authentication mechanisms and efficient data handling, our API enables users to upload, download, organize, and share files effortlessly. Whether you're building a personal file repository or a collaborative workspace, our API empowers you to create a powerful cloud storage solution tailored to your needs."
  version: 1.0.0
servers:
  -
    url: 'https://google-drive-clone-api.wip'
paths:
  /api/v1/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: 'Registers a user based on the provided registration request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2
                    name: 'Wilfrid Kohler Jr.'
                    email: yreichert@example.org
                    created_at:
                      datetime: '2024-04-05T20:22:29.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 8:22 PM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      name:
                        type: string
                        example: 'Wilfrid Kohler Jr.'
                      email:
                        type: string
                        example: yreichert@example.org
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T20:22:29.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 8:22 PM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'User name. Must not be greater than 255 characters.'
                  example: 'John Doe'
                email:
                  type: string
                  description: 'User email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
                password_confirmation:
                  type: string
                  description: 'User password confirmation.'
                  example: password
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/login:
    post:
      summary: 'Login a user'
      operationId: loginAUser
      description: 'Logins a user based on the provided login request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    name: 'Mallie Kulas'
                    email: vida.kreiger@example.com
                    created_at:
                      datetime: '2024-04-05T20:22:29.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 8:22 PM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      name:
                        type: string
                        example: 'Mallie Kulas'
                      email:
                        type: string
                        example: vida.kreiger@example.com
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T20:22:29.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 8:22 PM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
              required:
                - email
                - password
      security: []
  /api/v1/password/email:
    post:
      summary: 'Password reset link.'
      operationId: passwordResetLink
      description: 'Send a reset link to the given user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'We have e-mailed your password reset link.'
                properties:
                  message:
                    type: string
                    example: 'We have e-mailed your password reset link.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
              required:
                - email
  /api/v1/password/reset:
    post:
      summary: 'Reset password.'
      operationId: resetPassword
      description: "Reset the given user's password."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has been reset.'
                properties:
                  message:
                    type: string
                    example: 'Your password has been reset.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The reset password token.'
                  example: ipsum
                email:
                  type: string
                  description: 'The email address. Must be a valid email address.'
                  example: ibernhard@example.net
                password:
                  type: string
                  description: 'The new password.'
                  example: '_S7&L)nGl'
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: facilis
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  '/api/v1/email/verify/{id}/{hash}':
    get:
      summary: 'Verify email'
      operationId: verifyEmail
      description: 'Verify the email of the user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email successfully verified'
                properties:
                  message:
                    type: string
                    example: 'Email successfully verified'
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: '1'
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: 'The hash of the user.'
        example: 56Z83cdafEvb1P4VheDga6k
        required: true
        schema:
          type: string
  /api/v1/email/resend:
    post:
      summary: 'Resend email'
      operationId: resendEmail
      description: 'Resend the email verification notification.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verification link sent on your email id'
                properties:
                  message:
                    type: string
                    example: 'Email verification link sent on your email id'
      tags:
        - Authentication
      security: []
  /api/v1/logout:
    post:
      summary: 'Signs out a user'
      operationId: signsOutAUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Authentication
  /api/v1/user:
    get:
      summary: 'Current user'
      operationId: currentUser
      description: 'Get the currently authenticated user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 14
                    name: 'Alycia Rohan'
                    email: ybednar@example.org
                    created_at:
                      datetime: '2024-04-05T20:22:33.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 8:22 PM'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 14
                      name:
                        type: string
                        example: 'Alycia Rohan'
                      email:
                        type: string
                        example: ybednar@example.org
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T20:22:33.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 8:22 PM'
      tags:
        - Authentication
  /api/v1/folders:
    post:
      summary: 'Create folder'
      operationId: createFolder
      description: 'Store a newly created folder.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: 'Cecil Schoen'
                    path: 'http://www.johnston.biz/officiis-nobis-maxime-id-fuga-quia-esse-impedit.html'
                    storage_path: 'http://www.graham.com/et-id-iusto-laborum-aut-consectetur-reprehenderit-delectus.html'
                    parent_id: null
                    lft: 1
                    rgt: 2
                    depth: 0
                    is_folder: true
                    mime: audio/x-ms-wma
                    size: 488689
                    owner: 'Miss Lexi Simonis DVM'
                    uploaded_on_cloud: false
                    created_by:
                      id: 6
                      name: 'Miss Lexi Simonis DVM'
                      email: dhilpert@example.org
                      created_at:
                        datetime: '2024-04-05T20:22:30.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 8:22 PM'
                    created_at: null
                    updated_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: 'Cecil Schoen'
                      path:
                        type: string
                        example: 'http://www.johnston.biz/officiis-nobis-maxime-id-fuga-quia-esse-impedit.html'
                      storage_path:
                        type: string
                        example: 'http://www.graham.com/et-id-iusto-laborum-aut-consectetur-reprehenderit-delectus.html'
                      parent_id:
                        type: string
                        example: null
                      lft:
                        type: integer
                        example: 1
                      rgt:
                        type: integer
                        example: 2
                      depth:
                        type: integer
                        example: 0
                      is_folder:
                        type: boolean
                        example: true
                      mime:
                        type: string
                        example: audio/x-ms-wma
                      size:
                        type: integer
                        example: 488689
                      owner:
                        type: string
                        example: 'Miss Lexi Simonis DVM'
                      uploaded_on_cloud:
                        type: boolean
                        example: false
                      created_by:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 6
                          name:
                            type: string
                            example: 'Miss Lexi Simonis DVM'
                          email:
                            type: string
                            example: dhilpert@example.org
                          created_at:
                            type: object
                            properties:
                              datetime:
                                type: string
                                example: '2024-04-05T20:22:30.000000Z'
                              human_diff:
                                type: string
                                example: '0 seconds ago'
                              human:
                                type: string
                                example: 'Fri, Apr 5, 2024 8:22 PM'
                      created_at:
                        type: string
                        example: null
                      updated_at:
                        type: string
                        example: null
      tags:
        - 'Files Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: 'The ID of the parent folder.'
                  example: '1'
                name:
                  type: string
                  description: 'The name of the folder. Must not be greater than 1024 characters.'
                  example: tndurchflmngyjowjfatdtag
              required:
                - parent_id
                - name
  '/api/v1/files/{folder}':
    get:
      summary: 'User files'
      operationId: userFiles
      description: 'Get the current user files.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      name: "Pasquale O'Kon"
                      path: 'http://jenkins.com/delectus-quas-voluptate-ut-atque-explicabo-odit'
                      storage_path: 'http://www.monahan.com/voluptas-expedita-aut-consequuntur-aut'
                      parent_id: null
                      lft: 1
                      rgt: 2
                      depth: 0
                      is_folder: false
                      mime: application/vnd.xfdl
                      size: 50087
                      owner: 'Mary Johnson'
                      uploaded_on_cloud: false
                      created_by:
                        id: 10
                        name: 'Mary Johnson'
                        email: cody.schulist@example.org
                        created_at:
                          datetime: '2024-04-05T20:22:31.000000Z'
                          human_diff: '1 second ago'
                          human: 'Fri, Apr 5, 2024 8:22 PM'
                      created_at: null
                      updated_at: null
                    -
                      id: 4
                      name: 'Chaz Hartmann'
                      path: 'http://www.schroeder.com/'
                      storage_path: 'https://spencer.com/et-voluptatum-similique-quos-et-velit-quis-asperiores-accusamus.html'
                      parent_id: null
                      lft: 3
                      rgt: 4
                      depth: 0
                      is_folder: true
                      mime: video/vnd.ms-playready.media.pyv
                      size: 118127
                      owner: 'Grant Beatty'
                      uploaded_on_cloud: true
                      created_by:
                        id: 12
                        name: 'Grant Beatty'
                        email: balistreri.rogers@example.org
                        created_at:
                          datetime: '2024-04-05T20:22:32.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 8:22 PM'
                      created_at:
                        datetime: '2024-04-05T20:22:32.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 8:22 PM'
                      updated_at:
                        datetime: '2024-04-05T20:22:32.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 8:22 PM'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        name: "Pasquale O'Kon"
                        path: 'http://jenkins.com/delectus-quas-voluptate-ut-atque-explicabo-odit'
                        storage_path: 'http://www.monahan.com/voluptas-expedita-aut-consequuntur-aut'
                        parent_id: null
                        lft: 1
                        rgt: 2
                        depth: 0
                        is_folder: false
                        mime: application/vnd.xfdl
                        size: 50087
                        owner: 'Mary Johnson'
                        uploaded_on_cloud: false
                        created_by:
                          id: 10
                          name: 'Mary Johnson'
                          email: cody.schulist@example.org
                          created_at:
                            datetime: '2024-04-05T20:22:31.000000Z'
                            human_diff: '1 second ago'
                            human: 'Fri, Apr 5, 2024 8:22 PM'
                        created_at: null
                        updated_at: null
                      -
                        id: 4
                        name: 'Chaz Hartmann'
                        path: 'http://www.schroeder.com/'
                        storage_path: 'https://spencer.com/et-voluptatum-similique-quos-et-velit-quis-asperiores-accusamus.html'
                        parent_id: null
                        lft: 3
                        rgt: 4
                        depth: 0
                        is_folder: true
                        mime: video/vnd.ms-playready.media.pyv
                        size: 118127
                        owner: 'Grant Beatty'
                        uploaded_on_cloud: true
                        created_by:
                          id: 12
                          name: 'Grant Beatty'
                          email: balistreri.rogers@example.org
                          created_at:
                            datetime: '2024-04-05T20:22:32.000000Z'
                            human_diff: '0 seconds ago'
                            human: 'Fri, Apr 5, 2024 8:22 PM'
                        created_at:
                          datetime: '2024-04-05T20:22:32.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 8:22 PM'
                        updated_at:
                          datetime: '2024-04-05T20:22:32.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 8:22 PM'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: "Pasquale O'Kon"
                        path:
                          type: string
                          example: 'http://jenkins.com/delectus-quas-voluptate-ut-atque-explicabo-odit'
                        storage_path:
                          type: string
                          example: 'http://www.monahan.com/voluptas-expedita-aut-consequuntur-aut'
                        parent_id:
                          type: string
                          example: null
                        lft:
                          type: integer
                          example: 1
                        rgt:
                          type: integer
                          example: 2
                        depth:
                          type: integer
                          example: 0
                        is_folder:
                          type: boolean
                          example: false
                        mime:
                          type: string
                          example: application/vnd.xfdl
                        size:
                          type: integer
                          example: 50087
                        owner:
                          type: string
                          example: 'Mary Johnson'
                        uploaded_on_cloud:
                          type: boolean
                          example: false
                        created_by:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 10
                            name:
                              type: string
                              example: 'Mary Johnson'
                            email:
                              type: string
                              example: cody.schulist@example.org
                            created_at:
                              type: object
                              properties:
                                datetime:
                                  type: string
                                  example: '2024-04-05T20:22:31.000000Z'
                                human_diff:
                                  type: string
                                  example: '1 second ago'
                                human:
                                  type: string
                                  example: 'Fri, Apr 5, 2024 8:22 PM'
                        created_at:
                          type: string
                          example: null
                        updated_at:
                          type: string
                          example: null
      tags:
        - 'Files Management'
    parameters:
      -
        in: path
        name: folder
        description: 'Optional parameter. The path of the folder.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: documents
      -
        in: path
        name: perPage
        description: 'Optional parameter. The number of files per page.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 15
      -
        in: path
        name: page
        description: 'Optional parameter. The page number.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/v1/files:
    post:
      summary: ''
      operationId: postApiV1Files
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Files Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: 'The ID of the parent folder.'
                  example: '1'
                folder_name:
                  type: string
                  description: ''
                  example: esse
                files:
                  type: array
                  description: 'The file to upload. Must be a file.'
                  items:
                    type: string
                    format: binary
              required:
                - parent_id
                - files
tags:
  -
    name: Authentication
    description: "\nAPIs for authentication"
  -
    name: 'Files Management'
    description: "\nAPIs for managing users files"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
