openapi: 3.0.3
info:
  title: 'Google Drive Clone API'
  description: "Our API provides comprehensive functionality for managing files and folders in a cloud storage environment, akin to Google Drive. Built with Laravel, it offers robust endpoints for seamless integration with your front-end applications. With secure authentication mechanisms and efficient data handling, our API enables users to upload, download, organize, and share files effortlessly. Whether you're building a personal file repository or a collaborative workspace, our API empowers you to create a powerful cloud storage solution tailored to your needs."
  version: 1.0.0
servers:
  -
    url: 'https://google-drive-clone-api.wip'
paths:
  /api/v1/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: 'Registers a user based on the provided registration request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 16
                    name: 'Janis Nikolaus'
                    email: hkeebler@example.com
                    created_at:
                      datetime: '2024-04-05T15:59:19.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 3:59 PM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 16
                      name:
                        type: string
                        example: 'Janis Nikolaus'
                      email:
                        type: string
                        example: hkeebler@example.com
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T15:59:19.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 3:59 PM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'User name. Must not be greater than 255 characters.'
                  example: 'John Doe'
                email:
                  type: string
                  description: 'User email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
                password_confirmation:
                  type: string
                  description: 'User password confirmation.'
                  example: password
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/login:
    post:
      summary: 'Login a user'
      operationId: loginAUser
      description: 'Logins a user based on the provided login request'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 17
                    name: 'Prof. Roman Jakubowski'
                    email: destiny.toy@example.org
                    created_at:
                      datetime: '2024-04-05T15:59:20.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 3:59 PM'
                  token: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 17
                      name:
                        type: string
                        example: 'Prof. Roman Jakubowski'
                      email:
                        type: string
                        example: destiny.toy@example.org
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T15:59:20.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 3:59 PM'
                  token:
                    type: string
                    example: 1|Ue8Wpv3izBua27OmZAAmk8eofN7XS7iQSzyiLW7c1f96270e
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'User password.'
                  example: password
              required:
                - email
                - password
      security: []
  /api/v1/password/email:
    post:
      summary: 'Password reset link.'
      operationId: passwordResetLink
      description: 'Send a reset link to the given user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'We have e-mailed your password reset link.'
                properties:
                  message:
                    type: string
                    example: 'We have e-mailed your password reset link.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email address.'
                  example: john.doe@example.com
              required:
                - email
  /api/v1/password/reset:
    post:
      summary: 'Reset password.'
      operationId: resetPassword
      description: "Reset the given user's password."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has been reset.'
                properties:
                  message:
                    type: string
                    example: 'Your password has been reset.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The reset password token.'
                  example: similique
                email:
                  type: string
                  description: 'The email address. Must be a valid email address.'
                  example: erunte@example.org
                password:
                  type: string
                  description: 'The new password.'
                  example: "_pp%AyxH}4ZUry'559"
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: vel
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  '/api/v1/email/verify/{id}/{hash}':
    get:
      summary: 'Verify email'
      operationId: verifyEmail
      description: 'Verify the email of the user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email successfully verified'
                properties:
                  message:
                    type: string
                    example: 'Email successfully verified'
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: '1'
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: 'The hash of the user.'
        example: 56Z83cdafEvb1P4VheDga6k
        required: true
        schema:
          type: string
  /api/v1/email/resend:
    post:
      summary: 'Resend email'
      operationId: resendEmail
      description: 'Resend the email verification notification.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verification link sent on your email id'
                properties:
                  message:
                    type: string
                    example: 'Email verification link sent on your email id'
      tags:
        - Authentication
      security: []
  /api/v1/logout:
    post:
      summary: 'Signs out a user'
      operationId: signsOutAUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Authentication
  /api/v1/user:
    get:
      summary: 'Current user'
      operationId: currentUser
      description: 'Get the currently authenticated user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 28
                    name: 'Dr. Elvis Parisian'
                    email: ddeckow@example.org
                    created_at:
                      datetime: '2024-04-05T15:59:23.000000Z'
                      human_diff: '0 seconds ago'
                      human: 'Fri, Apr 5, 2024 3:59 PM'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 28
                      name:
                        type: string
                        example: 'Dr. Elvis Parisian'
                      email:
                        type: string
                        example: ddeckow@example.org
                      created_at:
                        type: object
                        properties:
                          datetime:
                            type: string
                            example: '2024-04-05T15:59:23.000000Z'
                          human_diff:
                            type: string
                            example: '0 seconds ago'
                          human:
                            type: string
                            example: 'Fri, Apr 5, 2024 3:59 PM'
      tags:
        - Authentication
  /api/v1/folders:
    post:
      summary: 'Create folder'
      operationId: createFolder
      description: 'Store a newly created folder.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: 'Concepcion Reynolds'
                    path: 'http://www.beatty.info/'
                    storage_path: 'http://www.fadel.info/'
                    parent_id: 1
                    lft: 2
                    rgt: 3
                    depth: 0
                    is_folder: true
                    mime: application/vnd.ms-excel.sheet.macroenabled.12
                    size: 156636
                    owner: 'Prof. Sincere Mann III'
                    uploaded_on_cloud: true
                    created_by:
                      id: 20
                      name: 'Prof. Sincere Mann III'
                      email: carolina64@example.org
                      created_at:
                        datetime: '2024-04-05T15:59:21.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 3:59 PM'
                    created_at: null
                    updated_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: 'Concepcion Reynolds'
                      path:
                        type: string
                        example: 'http://www.beatty.info/'
                      storage_path:
                        type: string
                        example: 'http://www.fadel.info/'
                      parent_id:
                        type: integer
                        example: 1
                      lft:
                        type: integer
                        example: 2
                      rgt:
                        type: integer
                        example: 3
                      depth:
                        type: integer
                        example: 0
                      is_folder:
                        type: boolean
                        example: true
                      mime:
                        type: string
                        example: application/vnd.ms-excel.sheet.macroenabled.12
                      size:
                        type: integer
                        example: 156636
                      owner:
                        type: string
                        example: 'Prof. Sincere Mann III'
                      uploaded_on_cloud:
                        type: boolean
                        example: true
                      created_by:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 20
                          name:
                            type: string
                            example: 'Prof. Sincere Mann III'
                          email:
                            type: string
                            example: carolina64@example.org
                          created_at:
                            type: object
                            properties:
                              datetime:
                                type: string
                                example: '2024-04-05T15:59:21.000000Z'
                              human_diff:
                                type: string
                                example: '0 seconds ago'
                              human:
                                type: string
                                example: 'Fri, Apr 5, 2024 3:59 PM'
                      created_at:
                        type: string
                        example: null
                      updated_at:
                        type: string
                        example: null
      tags:
        - 'Files Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: 'The ID of the parent folder.'
                  example: '1'
                name:
                  type: string
                  description: 'The name of the folder. Must not be greater than 1024 characters.'
                  example: pcnlejbpmqewmquundqhy
              required:
                - parent_id
                - name
  '/api/v1/files/{folder}':
    get:
      summary: 'User files'
      operationId: userFiles
      description: 'Get the current user files.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: en
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      name: 'Bridget Harvey'
                      path: 'https://emard.com/sit-qui-sint-sunt-fuga-autem.html'
                      storage_path: 'http://schroeder.biz/ducimus-veniam-architecto-occaecati-consequatur-necessitatibus'
                      parent_id: 1
                      lft: 2
                      rgt: 3
                      depth: 0
                      is_folder: false
                      mime: application/xaml+xml
                      size: 523127
                      owner: 'Hillary Blanda'
                      uploaded_on_cloud: true
                      created_by:
                        id: 24
                        name: 'Hillary Blanda'
                        email: bernice.dietrich@example.com
                        created_at:
                          datetime: '2024-04-05T15:59:22.000000Z'
                          human_diff: '1 second ago'
                          human: 'Fri, Apr 5, 2024 3:59 PM'
                      created_at: null
                      updated_at: null
                    -
                      id: 18
                      name: 'Mrs. Cassidy Cole'
                      path: 'http://www.altenwerth.com/'
                      storage_path: 'http://lehner.com/iusto-sint-ab-voluptas-sed-repudiandae-alias-sed.html'
                      parent_id: null
                      lft: 3
                      rgt: 4
                      depth: 0
                      is_folder: false
                      mime: application/vnd.ms-officetheme
                      size: 398627
                      owner: 'Leland Feest'
                      uploaded_on_cloud: false
                      created_by:
                        id: 26
                        name: 'Leland Feest'
                        email: julian74@example.com
                        created_at:
                          datetime: '2024-04-05T15:59:23.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 3:59 PM'
                      created_at:
                        datetime: '2024-04-05T15:59:23.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 3:59 PM'
                      updated_at:
                        datetime: '2024-04-05T15:59:23.000000Z'
                        human_diff: '0 seconds ago'
                        human: 'Fri, Apr 5, 2024 3:59 PM'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        name: 'Bridget Harvey'
                        path: 'https://emard.com/sit-qui-sint-sunt-fuga-autem.html'
                        storage_path: 'http://schroeder.biz/ducimus-veniam-architecto-occaecati-consequatur-necessitatibus'
                        parent_id: 1
                        lft: 2
                        rgt: 3
                        depth: 0
                        is_folder: false
                        mime: application/xaml+xml
                        size: 523127
                        owner: 'Hillary Blanda'
                        uploaded_on_cloud: true
                        created_by:
                          id: 24
                          name: 'Hillary Blanda'
                          email: bernice.dietrich@example.com
                          created_at:
                            datetime: '2024-04-05T15:59:22.000000Z'
                            human_diff: '1 second ago'
                            human: 'Fri, Apr 5, 2024 3:59 PM'
                        created_at: null
                        updated_at: null
                      -
                        id: 18
                        name: 'Mrs. Cassidy Cole'
                        path: 'http://www.altenwerth.com/'
                        storage_path: 'http://lehner.com/iusto-sint-ab-voluptas-sed-repudiandae-alias-sed.html'
                        parent_id: null
                        lft: 3
                        rgt: 4
                        depth: 0
                        is_folder: false
                        mime: application/vnd.ms-officetheme
                        size: 398627
                        owner: 'Leland Feest'
                        uploaded_on_cloud: false
                        created_by:
                          id: 26
                          name: 'Leland Feest'
                          email: julian74@example.com
                          created_at:
                            datetime: '2024-04-05T15:59:23.000000Z'
                            human_diff: '0 seconds ago'
                            human: 'Fri, Apr 5, 2024 3:59 PM'
                        created_at:
                          datetime: '2024-04-05T15:59:23.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 3:59 PM'
                        updated_at:
                          datetime: '2024-04-05T15:59:23.000000Z'
                          human_diff: '0 seconds ago'
                          human: 'Fri, Apr 5, 2024 3:59 PM'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: 'Bridget Harvey'
                        path:
                          type: string
                          example: 'https://emard.com/sit-qui-sint-sunt-fuga-autem.html'
                        storage_path:
                          type: string
                          example: 'http://schroeder.biz/ducimus-veniam-architecto-occaecati-consequatur-necessitatibus'
                        parent_id:
                          type: integer
                          example: 1
                        lft:
                          type: integer
                          example: 2
                        rgt:
                          type: integer
                          example: 3
                        depth:
                          type: integer
                          example: 0
                        is_folder:
                          type: boolean
                          example: false
                        mime:
                          type: string
                          example: application/xaml+xml
                        size:
                          type: integer
                          example: 523127
                        owner:
                          type: string
                          example: 'Hillary Blanda'
                        uploaded_on_cloud:
                          type: boolean
                          example: true
                        created_by:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 24
                            name:
                              type: string
                              example: 'Hillary Blanda'
                            email:
                              type: string
                              example: bernice.dietrich@example.com
                            created_at:
                              type: object
                              properties:
                                datetime:
                                  type: string
                                  example: '2024-04-05T15:59:22.000000Z'
                                human_diff:
                                  type: string
                                  example: '1 second ago'
                                human:
                                  type: string
                                  example: 'Fri, Apr 5, 2024 3:59 PM'
                        created_at:
                          type: string
                          example: null
                        updated_at:
                          type: string
                          example: null
      tags:
        - 'Files Management'
    parameters:
      -
        in: path
        name: folder
        description: 'Optional parameter. The path of the folder.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: documents
      -
        in: path
        name: perPage
        description: 'Optional parameter. The number of files per page.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 15
      -
        in: path
        name: page
        description: 'Optional parameter. The page number.'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
tags:
  -
    name: Authentication
    description: "\nAPIs for authentication"
  -
    name: 'Files Management'
    description: "\nAPIs for managing users files"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
